header {
    align-items: center;
    padding: 21px;
    background-color: #D0D3D4;
    justify-content: space-between;
    display: flex;
    
}
nav li {
    display: inline-block;
    margin-right: 25px;
} 
nav a {
    font-size: 19px;
    text-decoration: none;
    color: black;
}
main {
    padding: 20px;
}
.footer{
    bottom: 0;
    position:fixed;
    text-align:center;
    width:100%;
    padding: 10px;
    background-color: #D0D3D4;
    color: #000000;
}

